*{
    margin:0px;
    padding: 0px;
    
   }
  div{
    width:500px;
    height: 300px;
    background :rgb(195, 126, 223);
    text-align :center ;
    display: flex;
    justify-content: center;
    align-items: center ;
  
  }
  button{
    width :100px ;
    height :50px;
  }