*{
    margin: 0px;
    padding: 0px;
    }
    body{
        text-align: center;
        background: rgb(2,0,36);
    background: linear-gradient(white,red ,black );
    }
    #areaResultado {
      width: 150pt;
      height: 14pt;,red
      margin-top: 5px;
    }black 
    
    input{
      margin-top: 2px;
    }
    
    button{
      margin-top: 2px;
    }
      v{
    background: rgb(63,94,251);
    background: radial-gradient(black, white);
        }